<% if @route.railway_stations.present? %>
  <table>
    <thead>
      <tr>
        <td>Name</td>
        <td>Position</td>
        <td>Departure</td>
        <td>Arrival</td>
      </tr>
    </thead>
    <tbody>
      <% @route.railway_stations.each do |station| %>
        <tr>
          <td><%= station.title %></td>
          <td>
            <%= form_tag update_position_admin_railway_station_path(station), method: :patch do %>
              <%= number_field_tag :station_number, station.position_in(@route), :min => 0 %>
              <%= hidden_field_tag :route_id, @route.id %>
          </td>
          <td>
            <%= time_field_tag :departure_time, station.departure_time(@route) %>
            <%= hidden_field_tag :route_id, @route.id %>
          </td>
          <td>
            <%= time_field_tag :arrival_time, station.arrival_time(@route) %>
            <%= hidden_field_tag :route_id, @route.id %>
            <%= submit_tag 'Edit' %>
          </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  Haven't stations!
<% end %>
