<h2>Buy ticket</h2>

<table>
  <tbody align="left">
  <tr>
    <th>Train:</th>
    <td><%= @train.number %></td>
  </tr>
  <tr>
    <th>Route:</th>
    <td><%= @train.route.name %></td>
  </tr>
  <tr>
    <th>Start station:</th>
    <td><%= @start_station.title %></td>
  </tr>
  <tr>
    <th>End station:</th>
    <td><%= @end_station.title %></td>
  </tr>
  </tbody>
</table>

<%= render 'form', ticket: @ticket %>

<p>
  <%= link_to 'Tickets', tickets_path %>
</p>
