<tr>
  <td>Number:<%= carriage.number %></td>
  <td>Train:<%= carriage.train.number %></td>
  <td>Type:<%= carriage.type_carriage %></td>
  <td>Top seats:<%= carriage.top_seats %></td>
  <td>Bottom seats:<%= carriage.bottom_seats %></td>
  <td>Side top seats:<%= carriage.side_top_seats %></td>
  <td>Side bottom seats:<%= carriage.side_bottom_seats %></td>
  <td>Seat seats:<%= carriage.seat_seats %></td>


  <td><%= link_to 'Show', carriage %></td>
  <td><%= link_to 'Edit', edit_carriage_path(carriage) %></td>
  <td><%= link_to 'Destroy', carriage, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>