<h2>Ticket:</h2>

<table class='table table-striped'>
  <tbody align="left">
  <tr>
    <th><%= 'Train:' %></th>
    <td><%= @ticket.train.number %></td>
  </tr>
  <tr>
    <th><%= 'Route:' %></th>
    <td><%= @ticket.train.route.name %></td>
  </tr>
  <tr>
    <th><%= 'Start station:' %></th>
    <td>
      <%= @ticket.start_station.title %>
    </td>
  </tr>
  <tr>
    <th><%= 'End station:' %></th>
    <td>
      <%= @ticket.end_station.title %>
    </td>
  </tr>
  <tr>
    <th><%= 'Passenger name:' %></th>
    <td>
      <%= @ticket.passenger_name %>
    </td>
  </tr>
  <tr>
    <th><%= 'Passport:' %></th>
    <td>
      <%= @ticket.passport_number %>
    </td>
  </tr>
  </tbody>
</table>

<p>
  <%= link_to 'Tickets', admin_tickets_path %><br>
</p>
